.about {
  padding-top: 100px;
  padding-bottom: 100px;
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  .description {
    width: 600px;
    text-align: center;
    margin: 0 auto;
  }

  .content {
    margin-top: 40px;

    h3{
      margin-top: 40px;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 600;
      color: #272727;
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 40%;
        border-bottom: 1px solid #72C05B;
      }
    }
    .pitch {
      max-width: 520px;
    }
  }
}

.vision {
  background: #242a33;
  background-size: cover;
  color: #fff;
  padding: 70px 0;

  .description {
    text-align: center;
    margin: 0 auto;
  }

  .center {
    text-align: center;

    margin-top: 18px;
  }
}

.services {
  padding-bottom: 120px;
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  .description {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
  }

  .content {
    margin-top: 70px;
    .icon {
      text-align: center;
      margin-bottom: -25px;
      .item {
        font-size: 56px;
      }
    }
    h6 {
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}
