.slider {
  width: 100%;
  height: 558px;
  overflow: hidden;
  position: relative;

  .content {
    background-color: rgba(#000, 0.6);
    width: 100%;
    height: 100%;
    text-shadow: 0 5pc 10px #0004;
  }

  .list {
    .item {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0 0 0 0;

      .active {
        z-index: 1;
      }

      // img {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }
    } 
  }
}

.slider .content {
  padding-top: 180px;
  text-align: center;
  h3 {
    max-width: 800px;
    margin: auto;
    margin-bottom: 36px;
    color: white;
    font-size: 36px;
    line-height: 36px;
    span {
      color: #72c05b;
      font-size: 36px;
      line-height: 36px;
    }
  }

  p {
    max-width: 600px;
    margin: auto;
    color: white;
    line-height: 16px;
    margin-top: -16px;
    margin-bottom: 24px;
  }
}

.slider .arrows {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 100;
  .prev {
    position: absolute;
    left: 10px;
    top: 40%;
    color: white;
  }
  .next {
    position: absolute;
    right: 10px;
    top: 40%;
    color: white;
  }
}
